{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Document</title>
    {% block extra_head %}
    {% endblock %}
    
</head>
<body>
    <span class="nav">aada</span>
    <div>
        <div class="side_strip">

            {% block left_strip%}
            {% endblock %}
        </div>

        <div class="center_strip">
            {% block center%}
            {% endblock %}
        </div>

        <div class="side_strip">
            {% block right_side%}
            {% endblock %}
        </div>
    </div>
</body>
</html>