.spots{
    width: 25rem;
    height: 25rem;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    background-color: lightblue;
}

.circle{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border-color: blue;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}